@using Blog.Entities
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    List<Article> articles = ViewBag.Articles;
}

<h2>Index</h2>
<h3>Blogs Table</h3>
<div>
@*    <input type="button" hre/>
    <a href="#" title="New Blog"></a>*@
    <table>
        <thead>
            <tr>
                <th>№
                </th>
                <th>Title
                </th>
                <th>AuthorId
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var article in articles)
            {
                <tr>
                    <td>@article.Id</td>
                    <td>@article.Title</td>
                    <td>@article.AuthorId</td>
                </tr>
            }

        </tbody>
    </table>
</div>
