@model Blog.WebUI.Frontend.Models.NewArticleModel
@{
    ViewBag.Title = "NewArticle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{

}
}
<h2>New Article</h2>
<form method="post" style="width: 450px;">
    <div class="container">
        <table>
            <tr>
                <td>Title 
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Title)
                    @Html.ValidationMessageFor(m => m.Title)
                </td>
            </tr>
        </table>
        <br />
        <input type="submit" value="Create article" />
    </div>
</form>
