@model Blog.WebUI.Frontend.Models.RegistrUserModel

@{
    ViewBag.Title = "ShowArticle";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}
@{
    string Title = ViewBag.ArTitle;
    int ArticleId = ViewBag.Id;
}

<hr />
<h2>Article : @Title</h2>
<img id="imgProfile" src="x" width="50" />
<hr />
<div id="divText" data-article-id="@ArticleId"></div>
<hr />

@Html.ActionLink("Write Article", "WriteArticle", "Home", new { title = Title, id = ArticleId }, null)



<script src="~/Scripts/pages/showArticle.js"></script>

@*@using (Html.BeginForm()) 
{

}*@

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
