@model Blog.WebUI.Frontend.Models.RegistrUserModel

@{
    ViewBag.Title = "ShowArticle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    int? Id = ViewBag.Id;
}
}

<h2>Article @Id</h2>

@using (Html.BeginForm()) 
{
   @Html.Raw(ViewBag.Editor)
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
