@{
    ViewBag.Title = "WriteArticle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    string Title = ViewBag.ArTitle;
    int ArticleId = ViewBag.Id;
    int AuthorId = ViewBag.AuthorId;
}

<h2>Write article : @Title</h2>

<form method="post" style="width: 450px;">
    <div class="container">
        <textarea id="id_cazary_full" style="width: 640px; height: 400px;">full mode</textarea>
        <div class="save-button-wrapper">
            <input id="save-button" type="button" value="Save Formatted Text" data-article-id="@ArticleId" data-article-title="@Title" data-author-id="@AuthorId"/>
        </div>

        <script src="~/Scripts/libs/cazary/cazary.js" type="text/javascript"></script>
        <script src="~/Scripts/pages/writeArticle.js" type="text/javascript"></script>
    </div>
</form>

