<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <pages theme="DefaultTheme"/>
    </system.web>
  <connectionStrings>
    <add name="BlogEntities" connectionString="metadata=res://*/BlogEntities.csdl|res://*/BlogEntities.ssdl|res://*/BlogEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ROMAN-PC;initial catalog=Blog;persist security info=True;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>
